/* ##### PRODUCT CARD #### */

.product__card {
  width: 22rem;

  grid-template-columns: auto;
  grid-template-rows: 25rem auto auto;
  grid-template-areas: 'product__image' 'product__info' 'order__button';
  position: relative;
}

.like__btn {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  right: 1rem;
  top: 1rem;
}
/* https://source.unsplash.com/random/500x500 */

/* .card__button {
  display: block !important;
}

.card__dismiss {
  border: 1px solid grey;
}

.card__dismiss::before {
  content: 'Out off Stock';
} */
