.products__lists {
  width: 100vw;
  max-width: 100rem;
}

.product__box {
  height: 20rem;
  max-width: 30rem;
  min-width: 25rem;
}

.product__tag {
  width: 94%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product__display__screen {
  grid-template-columns: auto 1fr 3fr;
  grid-template-rows: 4rem auto 1fr;
  height: 50vh;
  min-height: 40rem;
  width: 100%;
  max-width: 100rem;

  background-image: url('https://picsum.photos/800/900?q=cloths&sharp=10');
  /* background-image: url('https://source.unsplash.com/random'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.product__trend__tag {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.new__arrivals__wrapper {
  max-width: 100rem;
  width: 100vw;
  margin: auto !important;
}

.new__arrivals__wrapper > * {
  background-color: rgba(var(--color-rgb-grey), 0.4);
}

.new__arrival {
  max-width: 60rem;
  min-width: 40rem;
  max-height: 30rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'image title' 'image info';
}

.new__arrival__info {
  grid-area: info;
}

.new__arrival__title {
  grid-area: title;
}

.new__arrival__image {
  grid-area: image;
}

@media (max-width: 900px) {
  .new__arrivals__wrapper {
    flex-direction: column !important;
  }

  .new__arrivals__wrapper:not(:last-child()) {
    margin-right: 0 !important;
  }
}

@media (max-width: 500px) {
  .new__arrival {
    max-width: 30rem;
    width: 80%;
    min-width: 20rem;
    max-height: max-content;
    grid-template-columns: 1fr;
    grid-template-rows: auto 20rem auto;
    grid-template-areas: 'title' 'image' 'info';
    border-radius: 1rem;
    gap: 2rem;
    padding: 2rem;
  }
}
